@import "fonts.scss";

$dark-brown: #1b1313;

body{
    color: $dark-brown;
}
.wrapper{
    margin: 0 auto;
    width: 80rem;
}

header{
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7rem;
        min-height: 12rem;
        font-family: 'Lora';
        background-image: url("pics/Panorama_Cluj-min.jpg");
        background-size: cover;                     
        background-repeat: no-repeat;
        background-position: center center;
    }

    h1{
        font-size: 4rem;
        color: whitesmoke;
        text-transform: uppercase;
    }
}

.menu{
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 2rem;
        background-color: whitesmoke;

        li{
            text-decoration: none;
            font-family: 'Lora';

            a{
                text-decoration: none;
                font-size: 1.4rem;
                color: $dark-brown;
                padding: 3rem;
            }

            a:hover { 
                color: whitesmoke;
                background-color: $dark-brown;
                opacity: 0.95;
            }
        }
    }
}

.aboutContent{
    display: flex;
    margin: 2rem 0;

    .text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        max-width: 40rem;
        padding: 1.5rem;

        p{
            font-family: 'Lora';
            font-size: 1.1rem;
            line-height: 1.6;
            flex-basis: auto;
        }
    }
    .picture{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        padding: 1.5rem;
        flex-basis: auto;
        
        img{
            max-width: 38rem;   
        }
    }
}

.aboutContent:nth-child(even) {
    flex-direction: row-reverse;
}

.photos{
    display: flex;
    justify-content: space-around;

    i{
        font-size: 3.5rem;
    }
    .slide{
        display: flex;
        align-items: center;
        
    }
    .hidden{
        display: none;
    }
}


    

    
