@import "fonts.scss";

$dark-brown: #1b1313;

body{
    color: $dark-brown;
}
.wrapper{
    margin: 0 auto;
    max-width: 80rem;
    position: relative;
}

header{
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7rem;
        min-height: 12rem;
        font-family: 'Lora';
        background-image: url("pics/Panorama_Cluj-min.jpg");
        background-size: cover;                     
        background-repeat: no-repeat;
        background-position: center center;

        @media screen and (max-width: 579px) and (min-width: 0px){
           min-height: 8rem;
        }
    }

    h1{
        font-size: 4rem;
        color: whitesmoke;
        text-transform: uppercase;

        @media screen and (max-width: 1041px) and (min-width: 580px){
            font-size: 3rem;
        }
        
        @media screen and (max-width: 579px) and (min-width: 530px){
            font-size: 2.5rem;
        }
        
        @media screen and (max-width: 529px) and (min-width: 0px){
            font-size: 2rem;
        }  
    }
}

.menu{
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 2rem;
        background-color: whitesmoke;

        li{
            text-decoration: none;
            font-family: 'Lora';

            a{
                text-decoration: none;
                font-size: 1.4rem;
                color: $dark-brown;
                padding: 3rem;
            }

            a:hover { 
                color: whitesmoke;
                background-color: $dark-brown;
                opacity: 0.95;
            }
        }
    }
}

@media screen and (max-width: 1041px) {
    .menu{
        ul{
            flex-direction: column;
            align-items: center;
            li{
                margin-bottom: 1rem;
                a{
                    padding:0.75rem;
                    font-size: 1.2rem;
                }
            }
        }
    }
}

.aboutContent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    
   
    @media screen and (max-width: 804px) {
        flex-direction: column-reverse;
    }

    .text{
        flex: 1;
        padding: 2rem;

        p{
            font-family: 'Lora';
            font-size: 1.1rem;
            line-height: 1.6;
            max-width:100%;
            @media screen and (max-width: 900px){
                font-size: 1rem;
                line-height: 1.4;
            }
        
        }
    }
    .picture{
        flex: 1;
        padding: 2rem;
    }
    img{
        max-width: 100%;
    }
}

.aboutContent:nth-child(even) {
    flex-direction: row-reverse;
    
    @media screen and (max-width: 804px) {
        flex-direction: column-reverse;
    }
}

.photos{
    display: flex;
    align-items: center;
    justify-content: center;

    i{
        font-size: 3.5rem;
    }

    .js-slides{
        display: flex;
        align-items: center;
    }

    img{
        position: relative;
        max-width: 100%;
    }

    .hidden{
        display: none;
    }

    button{
        position: absolute;
        z-index: 100;

        &.back{
            left: 0;
        }

        &.forward{
            right: 0;
        }
        &.up{
            top: 0;
        }

        &.down{
            bottom: 0;
        }
    }
}

.restaurants{
    display: flex;
    flex-wrap: wrap;

    .restaurantWrapper{
        display: flex;

        @media screen and (min-width: 901px) and (max-width: 1025px) {
            flex-wrap: wrap;
            max-width: 50%; 
        }
        @media screen and (max-width: 900px){
            flex-direction:column;
        }
        
        .restaurant{
            padding: 1rem;
            min-width: 30%;
        
            a{
                display: flex;
                flex-direction: column;
                align-items: center;
            
                img{
                    max-width: 100%;
                    @media screen and (max-width: 900px){
                        max-width: 70%;
                    }
                
                }
            }
        }
    }
}