@font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: 400;
    src: local('Lora Italic'), local('Lora-Italic'), url(https://fonts.gstatic.com/s/lora/v12/0QIhMX1D_JOuMw_LIftL.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: 700;
    src: local('Lora Bold Italic'), local('Lora-BoldItalic'), url(https://fonts.gstatic.com/s/lora/v12/0QIiMX1D_JOuMw_Dmt5eldGry70.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }

  @font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: 700;
    src: local('Lora Bold Italic'), local('Lora-BoldItalic'), url(https://fonts.gstatic.com/s/lora/v12/0QIiMX1D_JOuMw_Dmt5emNGr.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: local('Lora Regular'), local('Lora-Regular'), url(https://fonts.gstatic.com/s/lora/v12/0QIvMX1D_JOuMwr7Iw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    src: local('Lora Bold'), local('Lora-Bold'), url(https://fonts.gstatic.com/s/lora/v12/0QIgMX1D_JOuO7HeNtxumg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
.wrapper{
    margin: 0 auto;
}

header{
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7rem;
        min-height: 12rem;
        font-family: 'Lora';
        background-image: url("pics/Panorama_Cluj-min.jpg");
        background-size: cover;                     
        background-repeat: no-repeat;
        background-position: center center;
    }
    h1{
        font-size: 4rem;
        color: whitesmoke;
    }
}

.menu{
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 2rem;
        background-color: whitesmoke;
        li{
            text-decoration: none;
            font-family: 'Lora';
            a{
                text-decoration: none;
                font-size: 1.7rem;
                color: #1b1313;
                padding: 3rem;
            }
            a:hover { 
                color: whitesmoke;
                background-color: #1b1313;
                opacity: 0.95;
            }
        }
    }
}

.aboutContent{
    display: flex;
    .text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        margin-left: 15rem;
        p{
          max-width: 40rem;
          padding: 5rem;
          font-family: 'Lora';
          font-size: 1.1rem;
          line-height: 1.6;
          color: #1b1313;
        }
    }
    .picture{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        margin-right: 15rem;
        img{
            max-width: 40rem;
            padding: 5rem;
        }
    }
}
