@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: local("Lora Italic"), local("Lora-Italic"), url(https://fonts.gstatic.com/s/lora/v12/0QIhMX1D_JOuMw_LIftL.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* cyrillic-ext */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: local("Lora Bold Italic"), local("Lora-BoldItalic"), url(https://fonts.gstatic.com/s/lora/v12/0QIiMX1D_JOuMw_Dmt5eldGry70.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: local("Lora Bold Italic"), local("Lora-BoldItalic"), url(https://fonts.gstatic.com/s/lora/v12/0QIiMX1D_JOuMw_Dmt5emNGr.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local("Lora Regular"), local("Lora-Regular"), url(https://fonts.gstatic.com/s/lora/v12/0QIvMX1D_JOuMwr7Iw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: local("Lora Bold"), local("Lora-Bold"), url(https://fonts.gstatic.com/s/lora/v12/0QIgMX1D_JOuO7HeNtxumg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
body {
  color: #1b1313; }

.wrapper {
  margin: 0 auto;
  max-width: 80rem;
  position: relative; }

header .title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7rem;
  min-height: 12rem;
  font-family: 'Lora';
  background-image: url("pics/Panorama_Cluj-min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  @media screen and (max-width: 579px) and (min-width: 0px) {
    header .title {
      min-height: 8rem; } }
header h1 {
  font-size: 4rem;
  color: whitesmoke;
  text-transform: uppercase; }
  @media screen and (max-width: 1041px) and (min-width: 580px) {
    header h1 {
      font-size: 3rem; } }
  @media screen and (max-width: 579px) and (min-width: 530px) {
    header h1 {
      font-size: 2.5rem; } }
  @media screen and (max-width: 529px) and (min-width: 0px) {
    header h1 {
      font-size: 2rem; } }

.menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  background-color: whitesmoke; }
  .menu ul li {
    text-decoration: none;
    font-family: 'Lora'; }
    .menu ul li a {
      text-decoration: none;
      font-size: 1.4rem;
      color: #1b1313;
      padding: 3rem; }
    .menu ul li a:hover {
      color: whitesmoke;
      background-color: #1b1313;
      opacity: 0.95; }

@media screen and (max-width: 1041px) {
  .menu ul {
    flex-direction: column;
    align-items: center; }
    .menu ul li {
      margin-bottom: 1rem; }
      .menu ul li a {
        padding: 0.75rem;
        font-size: 1.2rem; } }
.aboutContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0; }
  @media screen and (max-width: 804px) {
    .aboutContent {
      flex-direction: column-reverse; } }
  .aboutContent .text {
    flex: 1;
    padding: 2rem; }
    .aboutContent .text p {
      font-family: 'Lora';
      font-size: 1.1rem;
      line-height: 1.6;
      max-width: 100%; }
      @media screen and (max-width: 900px) {
        .aboutContent .text p {
          font-size: 1rem;
          line-height: 1.4; } }
  .aboutContent .picture {
    flex: 1;
    padding: 2rem; }
  .aboutContent img {
    max-width: 100%; }

.aboutContent:nth-child(even) {
  flex-direction: row-reverse; }
  @media screen and (max-width: 804px) {
    .aboutContent:nth-child(even) {
      flex-direction: column-reverse; } }

.photos {
  display: flex;
  align-items: center;
  justify-content: center; }
  .photos i {
    font-size: 3.5rem; }
  .photos .js-slides {
    display: flex;
    align-items: center; }
  .photos img {
    position: relative;
    max-width: 100%; }
  .photos .hidden {
    display: none; }
  .photos button {
    position: absolute;
    z-index: 100; }
    .photos button.back {
      left: 0; }
    .photos button.forward {
      right: 0; }
    .photos button.up {
      top: 0; }
    .photos button.down {
      bottom: 0; }

.restaurants {
  display: flex;
  flex-wrap: wrap; }
  .restaurants .restaurantWrapper {
    display: flex; }
    @media screen and (min-width: 901px) and (max-width: 1025px) {
      .restaurants .restaurantWrapper {
        flex-wrap: wrap;
        max-width: 50%; } }
    @media screen and (max-width: 900px) {
      .restaurants .restaurantWrapper {
        flex-direction: column; } }
    .restaurants .restaurantWrapper .restaurant {
      padding: 1rem;
      min-width: 30%; }
      .restaurants .restaurantWrapper .restaurant a {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .restaurants .restaurantWrapper .restaurant a img {
          max-width: 100%; }
          @media screen and (max-width: 900px) {
            .restaurants .restaurantWrapper .restaurant a img {
              max-width: 70%; } }

/*# sourceMappingURL=style.css.map */
